<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   package="com.rerain19.test"
   android:versionCode="3"
   android:versionName="2.5" >

   <uses-sdk
      android:minSdkVersion="8"
      android:targetSdkVersion="17" />
   <uses-permission android:name="android.permission.INTERNET"/>
   <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   <uses-permission android:name="android.permission.GET_ACCOUNTS" />
   <uses-permission android:name="android.permission.WAKE_LOCK" />
   <uses-permission android:name="android.permission.INTERNET"/>

	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

   <permission android:name="com.rerain19.test.permission.C2D_MESSAGE"
       		   android:protectionLevel="signature" />
   <uses-permission android:name="com.rerain19.test.permission.C2D_MESSAGE" />
   
   <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme" >
      <activity
         android:name="com.rerain19.test.MainActivity"
         android:label="@string/app_name" >
         <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
      </activity>
      
      <activity
			android:name="com.rerain19.test.JoinProc"
			android:label="@layout/subactivity"
      />
      <activity
			android:name="com.rerain19.test.login_ok"
			android:label="@layout/login_ok"
		/>
	<activity
			android:name="com.rerain19.test.NMap"
			android:label="@layout/nmap"
		/>
      <meta-data

            android:name="com.google.android.maps.v2.API_KEY"


            android:value="8e05e51e809b47e49846cacc17f9e493" />

	<meta-data

            android:name="com.google.android.gms.version"

            android:value="google_play_services_version" />
      
      <receiver
          android:name="com.google.android.gcm.GCMBroadcastReceiver"
          android:permission="com.google.android.c2dm.permission.SEND" >
          <intent-filter>
              <action android:name="com.google.android.c2dm.intent.RECEIVE" />
              <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
              <category android:name="com.rerain19.net" />
          </intent-filter>
      </receiver>
      <service android:name=".GCMIntentService"></service>
	</application>
	
</manifest>